.todo {
    width: 250px;
    margin: 100px auto;
    background-color: #e6e6e6;
}
.todo h3 {
    font-size: 24px;
    text-align: center;
    color: darkcyan;
    font-weight: 900;
}
.todo label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 15px;
    font-weight: 900;
    margin-left: 25px;
}
.doInput
{
    outline: none;
    border: 1px burlywood solid;
   border-radius: 20px;
    padding: 15px  20px;
    margin: 0px;
    width: 100%;
}
.todoList
{
 list-style: none;
margin-top: 20px;
padding-bottom: 20px;
border-top: 1px solid;
border-left: none;
border-right: none;
padding-left: 0px;
}
.todoList li {
    cursor: pointer;
    padding: 15px 20px;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid;
  
}
.btn-danger{
    display:inline-block;
    margin-left: 130px;
}